@page
@using System.Web
@using BLL
@model WebApp.Pages.GamePlay

<h1>GamePlay</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <tr>
                <td>&nbsp;</td>
                @for (int x = 0; x < Model.GameController.GameBrain.GetBoard().Count; x++)
                {
                    <td>@GetNumberRepresentation(x + 1)</td>
                }
            </tr>
            @for (int y = 0; y < Model.GameController.GameBrain.GetBoard()[0].Count; y++)
            {
                <tr>
                    <td>@GetNumberRepresentation(y + 1)</td>
                    @for (int x = 0; x < Model.GameController.GameBrain.GetBoard().Count; x++)
                    {
                        <td onclick="redirectToColumn(@x)" style="cursor: pointer;">
                            @GetCellRepresentation(Model.GameController.GameBrain.GetBoard()[x][y])
                        </td>
                    }
                </tr>
            }
        </table>
        @if (!string.IsNullOrEmpty(Model.GameId))
        {
            <form method="get">
                <input type="hidden" name="id" value="@Model.GameId" />
                <input type="hidden" name="player1Name" value="@Model.GameController.GameBrain.Player1Name" />
                <input type="hidden" name="player2Name" value="@Model.GameController.GameBrain.Player2Name" />
                <input type="hidden" name="action" value="save" />
                
                <label>Game name: </label>
                <input type="text" name="newName" required />
                <button type="submit" class="btn btn-primary">Save Game</button>
            </form>
            
            <a asp-page="/Index" asp-route-action="return">Return to Main Menu</a>
        }
        
        @if (ViewData["GameOver"] != null && (bool)ViewData["GameOver"])
        {
            <p>Winner: @ViewData["Winner"]</p>
            <p>Game over! No more moves allowed.</p>
        }
        else
        {
            <h3>Next player: @(Model.GameController.GameBrain.IsNextPlayerX() ? Model.GameController.GameBrain.Player1Name : Model.GameController.GameBrain.Player2Name)</h3>
        }

    </div>
</div>

<script>
    function redirectToColumn(x) {
        window.location.href = "?id=@Uri.EscapeDataString(Model.GameId)&x=" + x +
            "&player1Name=@Uri.EscapeDataString(Model.GameController.GameBrain.Player1Name)" +
            "&player2Name=@Uri.EscapeDataString(Model.GameController.GameBrain.Player2Name)";
    }
</script>

@functions
{
    private static string GetNumberRepresentation(int number)
    {
        return " " + (number < 10 ? "0" + number : number.ToString());
    }

    private static string GetCellRepresentation(ECellState cellValue) =>
        cellValue switch
        {
            ECellState.Empty => "   ",
            ECellState.X => " X ",
            ECellState.O => " O ",
            ECellState.XWin => "XXX",
            ECellState.OWin => "OOO",
            _ => " ? "
        };
}